* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 20px;
    border: none;
}

.btn-secondary {
    background: #FFF8F3;
    border-radius: 5px;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 18px;
    padding: 13px 20px;
    border: 2px solid #FD6E0A;
}


/* header and navigation styles */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 55px 120px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}


/* nav styles */

.banner {
    margin: 0 120px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 30px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 47px;
}

.banner-description {
    font-size: 16px;
    color: #757575;
}

.icon {
    padding-right: 10px;
}

.btn-part {
    margin-top: 30px;
}

.btn-part .btn-secondary {
    margin-left: 20px;
}

/* main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */

#about-me {
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    font-size: 16px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info .info-title {
    font-style: 16px;
    color: #757575;
}

.about-info .info-description {
    color: #474747;
    font-weight: 700;
    font-style: 25px;
}

/* what i do section */

#what-i-do .custom {
    padding: 130px 160px 0;
    text-align: center;
}

#what-i-do .skill-container {
    display: flex;
    text-align: left;
    margin-top: 30px;
}

.skill {
    gap: 24px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 22px;
    color: #181818;
    margin: 20px 0;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* resume syles */

#resume {
    padding-top: 130px;
    padding-bottom: 130px;
}

.resume-main-title {
    margin-bottom: 50px;
    color: #181818;
    text-align: center;
}

.resume-content {
    display: flex;
    gap: 24px;
}

.b-none {
    border: none !important;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}

#resume .resume-item {
    border-bottom: 1px solid #D1D1D1;
    margin-top: 35px;
}

#resume .title {
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 14px;
}

#resume .sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

#resume .description {
    color: #757575;
    margin-bottom: 30px;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* contact styles */
footer {
    background: #FFF8F3;
    padding: 130px 0;
}

footer .contact {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
}

footer .contact a {
    text-decoration: none;
    padding: 0 8px 0 0;
}

footer .section-title {
    text-align: left;
}

footer .contact input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    display: block;
    border: 0;
    color: #757575;
    width: 100%;
    padding: 18px 30px;
}